# Ignored files and directories

## pycharm project path
.idea

## ignores temporal files
**/*.swp

## python related scripts
.ipynb_checkpoints/
__pycache__/

## site
.jekyll-cache/ 
_site/
Gemfile.lock

## Kvasir-SEG dataset
kvasir-seg.zip
Kvasir-SEG

